<html>
  <head>
    <title>Look at available rooms</title>
    <%- include('header'); -%>
  </head>

  <body>
    <%- include('navbar'); -%>

    <h2 style="text-align: center">Available rooms:</h2>

    <div id="options">
      <button id="create">Create a room</button>
    </div>

    <div class="container">
      <table>
        <tr>
          <th>Room Name</th>
          <th>Online members</th>
        </tr>

        <% rooms.forEach(function(room){ %>
        <tr>
          <td>
            <a href="/room/<%= room.room_name %>"><%= room.room_name %></a>
          </td>
          <td><%= room.users %></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>

  <%- include('script'); -%>
  <script>
    $("#create").on("click", async () => {
      let room_name = prompt("Give a name for the room: ");

      let res = await fetch(`/room/${room_name}/available`);
      let answer = await res.json();

      console.log(answer);

      if (room_name == null) {
        return;
      }

      if (answer.open == null) {
        let temp = await fetch(`/room/${room_name}/create`).then(() => {
          window.location.href = `/room/${room_name}`;
        });
      } else if (answer.open) {
        window.location.href = `/room/${room_name}`;
      } else {
        alert(`${room_name} is not available`);
      }
    });
  </script>
</html>
